.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-color: #ffe0e0; /* خلفية خضراء فاتحة */
  }
  
  .success-content {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #c83222; /* اللون الأخضر للنجاح */
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .success-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .success-message {
    font-size: 1.2rem;
    margin-bottom: 20px;
    background-color: white;
    color: #c83222;
  }
  
  .back-button {
    background-color: white;
    color: #c83222; /* اللون الأخضر */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .back-button:hover {
    background-color: #edd5d5;
    color: white;
  }
  