.speakers-component {
  padding: 20px;
  // background-color: #f9f9f9;
  border-radius: 8px;

  .table-container {
    margin-bottom: 20px;

    .table-wrapper {
      overflow-x: auto;
      margin-top: 20px;
      border-radius: 8px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

}
